body
{margin:0
}

h1
{
  margin: 0px
}

.top-container {
  background: #f6e6cb;
  width: 200px;
  height: 200px;
  padding: 20px;
  border-style: solid;
  border-width:  10px;
  border-color: black;
  margin: 0;
  }
  .middle-container
  {
    background-color: blue;
    width: 200px;
    height: 200px;
    border-width: 20px;
    border-style: solid;
    border-color: black;
    margin-left: 260px;
  }
  .bottom-container
  {
    background-color: red;
    width: 200px;
    height: 200px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    margin-left: 500px;
  }
