body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

p{
    line-height: 2;
}

hr {
  border-top: 8px dotted grey;
  align : center;
  margin: auto 650px auto 650px;
}

h1 {
  font-size: 60px;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  margin: 2px auto 0 auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: #66BFBF;
  padding-bottom: 10px;
}

.h22 {
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #1eae98;
}

a {
  color: #11999E;
  text-decoration: none;
  margin: 10px 20px;
}
a:hover{
  color: white;
}

.top-container {
  background: #EAF6F6;
  position: relative;
  padding-top: 100px;

}

.mountain {
  width: 40%;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.image1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.image2 {
  margin-left: 30px;
  width: 25%;
  float: right;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 20px
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.intro1 {
  width: 30%;
  margin: auto;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: ARIAL;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
